<main>
  <section>
    <div id="banner">
      <div class="banner-content">
        <div class="title">
        <h4> Apprends à coder en communauté </h4>
                    

        </div>
        <div class="btn-banner">
          <a class="btn-light-green" href="<%= home_path %>">Découvre THP </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="tab-nav">

      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1">Histoire</label>

      <input id="tab2" type="radio" name="tabs">
      <label for="tab2">Programme</label>

      <input id="tab3" type="radio" name="tabs">
      <label for="tab3">Le blog</label>

      <div class="content">
        <div id="content1">
<p>
         
<h4>Notre mantra</h4><br />

Pour nous l'éducation est un bien beaucoup trop important pour n'être confié qu'à des organismes qui font payer leurs élèves plusieurs milliers d'euros par année. Nous souhaitons rendre l'apprentissage ouvert à tous et accessible au plus grand nombre. Comme notre nom l’indique, nous nous inspirons au maximum de l’esprit hacker.

Nous encourageons l’accès libre à la connaissance, l’apprentissage par la débrouillardise et l’efficience dans la résolution de problèmes. Les hackers construisent des solutions efficaces et anticonformistes aux dysfonctionnements de ce monde. Les parcours que l'on donne ne sont que des étapes (fascinantes) du voyage.</p>

<p>
<h4>Nos origines</h4><br />


Nous sommes en janvier 2017, Félix décide d'apprendre à coder, mais est repoussé par l'offre actuelle : trop onéreuse, ou trop longue. Il décide de faire son propre coding bootcamp, gratuit et ouvert à tous, en suivant une version améliorée de The Odin Project. Charles, à deux jours de signer un CDI, décide de le refuser pour tenter l'aventure du code. Dans ce premier groupe il y aura: Fabien le physicien nucléaire, Hugo le growth hacker nomade, Elise la marketeuse, Félix le product guy et Charles le business guy.

Ensemble, ils décident de relever le défi de l'apprentissage du code. Pour le bien de tous, ils arrivent à finir la formation (non sans quelques dommages infligés au cerveau) et leur niveau impressionnent leurs amis tech.
Félix et Charles décident donc que le peer-learning est une technique d'apprentissage qui a un gros potentiel, et se sont associés pour partager au plus grand nombre cette formation.
</p>

<p>          
<h4>Lancement</h4> <br />


Durant la formation Félix et Charles décident de s'associer, pour le meilleur et pour le pire. Ils décident donc de lancer une session de formation pour l'été 2017, qui durera 11 semaines, à temps plein. Au 3 juillet, plus de 80 corsaires décident de rejoindre l'aventure et apprennent à coder ensemble sur Ruby et Ruby on Rails.

Suivront de longues nuits et journées de travail pour adapter le cursus et le programme à des élèves exigeants et de différents niveaux (pour la session de juillet les cursus vont du polytechnicien au caporal-chef en ré-orientation professionnelle). Nous pensons que la méthode d'apprentissage de l'école 42 (pair-programming) est la meilleure méthode pour apprendre à coder et se rendre compte de l'importance du travail en équipe. Notre méthodologie a fait des émules et aujourd'hui nous travaillons avec l'ESSEC et l'INSEEC sur des cours d'informatique.</p>
<p>    
<h4>La pédagogie de THP</h4><br />


Notre pédagogie s’appuie sur l’apprentissage entre pairs, ou peer-learning. Concrètement cela signifie que nous mettons en avant l’échange entre les élèves. Nous avons supprimé les professeurs pour permettre aux apprenants de pouvoir se concentrer sur la documentation technique et apprendre par eux-même et en cherchant sur les réseaux.

Cette méthodologie d’apprentissage nous permet de proposer un modèle répétable partout sur le territoire à moindres frais. Elle est permise par logique de groupe auquel chaque moussaillon appartient pour la phase d’apprentissage et par la communauté globale pour l’évaluation (correction téléphonique).

</p>
        <br>
        <span class="button">
          <a class="btn-blue" href="https://www.thehackingproject.org/fr/cities">En savoir plus</a>
        </span>
        </div>

        <div id="content2">
        <p>
          <ul>
            <li>Ruby

    Avec Ruby vous découvrirez le scrapping de data, l'utilisation du deep web et les bases de la célèbre Programmation Orientée Objet
            </li>
            <li>Ruby on Rails

    Découvrez l'un des framework web les plus célèbres. Il vous permettra de rapidement coder une application web fonctionnelle, avec une base de données
            </li>
            <li>HTML/CSS

    En une semaine vous serez capable de refaire la home page de google ou la landing page de votre projet. En 3 semaines vous aurez le niveau pour vendre vos réalisations
            </li>
            <li>

    JavaScript

    Javascript vous permet de rendre votre site dynamique et d'inter-agir avec vos utilisateurs
            </li>
          </ul>
        </p>
        <p>
          Voici les dates des prochaines formations:<br> 

    Du lundi 07 janvier 2019 au vendredi 22 mars 2019<br>

    Du lundi 01 avril 2019 au vendredi 14 juin 2019<br>

    Du lundi 01 juillet 2019 au vendredi 13 septembre 2019<br>

    Du lundi 30 septembre 2019 au vendredi 13 décembre 2019<br>

        </p>
        <br>
        <span class="button">
          <a class="btn-blue" href="https://www.thehackingproject.org/fr/cities">En savoir plus</a>
        </span>
        </div>

        <div id="content3">
        <p>
           <a href="https://blog.thehackingproject.org/">Le blog De The Hacking Project</a> 
        </p>
        <br>
        <span class="button">
          <a class="btn-blue" href="https://www.thehackingproject.org/fr/cities">En savoir plus</a>
        </span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="all-cards">
      <div class="card-1">
        <div class="card-avatar">
          <%= image_tag('avatar.jpg', alt: 'Avatar', id: 'avatar-small') %>
        </div>
        <div class="card-tag">Louis Firnandihno

        </div>
        <div class="card-title">
          <h4>Témoignages</h4>
        </div>
        <div class="card-description">
          <p>Savoir s'exprimer</p>
        </div>
      </div>
      <div class="card-2">
        <div class="card-avatar">
          <%= image_tag('avatar.jpg', alt: 'Avatar', id: 'avatar-small') %>
        </div>
        <div class="card-tag">
          The-hacking-project

        </div>
        <div class="card-title">
          <h4>Le code le new art</h4>
        </div>
        <div class="card-description">
          <p></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bottom-btn">
        <a class="btn-pink" href="https://www.thehackingproject.org/fr/contact">Nous contacter</a>
      </div>
  </section>

</main>

