#banner {
  width: 100%;
  height: 350px;
  margin: auto;
  background: linear-gradient(-225deg, rgba(201, 229, 236, 0.6) 30%, rgba(24, 253, 138, 0.233) 80%), url('/assets/wall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content {
  text-align: left;
  text-indent: 30%;
}

.banner-content .title {
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  color: #FFFFFF;
}
