.top-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0
}

.navbar {
  background-color: rgba(247, 41, 41, 0.808);
  width: 100%; /* pour que la navbar prenne toute la largeur*/
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Ajuste la taille du logo*/
#logo {
  height: 45px;
  padding-top: 3px;
}

/* Centre les éléments de droite et les aligner entre eux*/
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Retire les puces de la liste*/
ul {
  list-style: none;
}

/* Met en forme les boutons cliquables */
.nav-items a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  padding: 8px;
  margin: 8px;
}

/* Mise en forme lorque l'on passe la souris dessus */
.nav-items a:hover {
  opacity: 0.3;
}

.nav-items-dropdown {
  margin: 5px;
  padding-top: 3px;
}

/* Mise en forme de l'avatar lorsqu'on le survole */
#dropdown-button img:hover {
  background-color: rgba(255, 70, 37, 0.76);
  opacity: 0.6;
}

/* Cache la liste déroulante + mise en forme */
.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 180px;
  background-color: rgba(241, 36, 36, 0.808);
  border-radius: 2px;
  box-shadow: 4px 6px 10px #5C5C5C;
  margin: 0;
  padding: 0;
}

/* fait apparaitre la liste déroulante */
.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

/* Mise en forme des liens de la liste déroulante */
.dropdown-items {
  text-decoration: none;
  color: #3A3A3A;
  text-align: left;
  padding: 12px 16px;
}

/* Mise en forme du menu déroulant lorsque l'on survole les liens*/
.dropdown-menu a:hover {
  background-color: rgba(238, 46, 46, 0.753);
  opacity: 0.5;
}
