<footer>
  <div class="footer">
    <ul class="footer">
      <li class="footer-item">
        <a href="https://www.facebook.com/thehackingproject/"><%= image_tag('facebook.png', alt: 'Logo Facebook') %></a>

      </li>
      <li class="footer-item">
        <a href="https://mobile.twitter.com/the_hacking_pro"><%= image_tag('twitter.png', alt: 'Logo Twitter') %></a>
      </li>
      <li class="footer-item">
        <a href="https://www.instagram.com/the_hacking_project/"><%= image_tag('instagram.png', alt: 'Logo Instagram') %></a>
      </li>
    </ul>
  </div>
</footer>
