<header>
  <div class="top-navbar">
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="#"><%= image_tag('spray.png', alt: 'Logo', id: 'logo') %></a>
      </div>
      <div class="navbar-right" id="navigation">
        <ul class="navbar-right">
          <li class="nav-items">
            <a href="<%= home_path %>">Home</a>
          </li>
          <li class="nav-items">
            <a href="https://www.thehackingproject.org/precursus?locale=fr">Préparcours </></a>
          </li>
           <li class="nav-items">
            <a href="https://www.thehackingproject.org/fr/contact">Contact</a>
          </li>
          <li class="nav-items-dropdown">
            <div class="dropdown">
              <div id="dropdown-button">
                <a href="#"><%= image_tag('avatar.jpg', alt: 'Avatar', id: 'avatar-small') %></a>
              </div>
              <div class="dropdown-menu">
                <a class="dropdown-items" href="#">
                  Mes missions
                </a>
                <a class="dropdown-items" href="#">
                  Edit profil
                </a>
                <a class="dropdown-items" href="#">
                  Déconnexion
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
